<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Kino</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
      <script type="module" src="static/main.js" defer></script>
      <script
         src="https://kit.fontawesome.com/8357c99e29.js"
         crossorigin="anonymous"></script>
      <!--The script above needs to be added on every singel html file that contains moviecard-->
   </head>
       
   <body>
      <header>
         <img
            class="kinoLogo"
            src="public/logoHead.png"
            alt="logotyp för Kino" usemap="#logoMap"/>
            <map name="logoMap">
              <area shape="rect" coords="225,10,573,143" href="index.html" alt="Kino">
            </map>
         <div class="navContainer">
            <nav class="headerNav">
               {{#each menuItems}}
                  <a href="{{this-link}}" class="headerNavItem">{{this.label}} </a>
               {{/each}}
            </nav>
            <div class="searchBar">
               <input
                  type="search"
                  placeholder="Search..."
                  class="searchInput" />
               <button class="searchBtn">Search</button>
            </div>
         </div>
      </header>
    <div class="main">
        {{{body}}}
    </div>
      
      <footer>
         <nav>
            {{#each navItems}}
            <a class="footerNav {{this.class}}" href="{{this.link}}">{{this.label}}</a>
            {{/each}}
         </nav>
      </footer>
   </body>
</html>